<h1 class="my-5" style="display: flex; justify-content: space-around;">FunBooker !!!</h1>
<h3 class="my-5" style="display: flex; justify-content: space-around;">Regardez tous les parcs à thème fantastiques que nous avons dans le monde</h3>
<div class="d-flex justify-content-between">
  <div >
      <div class="row justify-content-center">
        <div class="col-sm-8 my-3">
          <%= form_with url: parks_path, method: :get, class: "d-flex", id:"form-search" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: ""
              %>
            <%= submit_tag "Recherche", name: "", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    <div class="cards">
      <% @parks.each do |park| %>
        <%= link_to park_path(park) do %>
          <%= render "/shared/card_park", park: park %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div style="width: 100%; height: 100vh;" class='mx-3' id="map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
