<h1><%= @park.name %></h1>

<h3><%= @park.location %></h3>

 <%= link_to 'Back', parks_path %>
 <%= link_to 'Edit your Park', edit_park_path(@park) %>

<h5>description of the park:</h5>
<p><%= @park.park_description %></p>
<% @park.park_photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<h5>description of the park's chambers:</h5>
<p><%= @park.chambers_description %></p>
<% @park.chambers_photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<h5>description of the park's restaurants:</h5>
<p><%= @park.restaurants_description %></p>
<% @park.restaurants_photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>


<h4>Price: <%= @park.price %></h4>




<div class="card-form m-3">
  <%= cl_image_tag(@park.park_photos[0].key, crop: :fill) %>
  <div class="card-form-infos">
    <h2>add a Rental to <%= @park.name %></h2>
    <%= simple_form_for [@park, @rental] do |f| %>
      <%= f.input :arrival_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
      <%= f.input :departure_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
      <%= f.input :visitors_number %>
      <%= f.submit 'Add a rental', class:'btn btn-primary'%>
    <% end %>
  </div>
</div>

<div class="d-flex m-3">
  <div class='review'>
    <h2>Reviews</h2>
    <% @park.park_reviews.each do |review| %>
      <div>
        <div class="border-bottom border-gray pb-3 lh-1">
          <div class='d-flex'>
            <div class="rating"><%= render_stars(review.rating) %></div>
            <p><i> posted <%= time_ago_in_words(review.created_at) %> ago</i> </p>
          </div>
          <%= review.comment %>
        </div>
      </div>
    <% end %>
  </div>
</div>



 <%= link_to 'Back', parks_path %>
 <%= link_to 'Edit your Park', edit_park_path(@park) %>



<div class="card-form">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-form-infos">
    <h2>Rent <%= @park.name %></h2>
    <p><% simple_form_for @park do |f| %>
        <%= f.input :name %>
    <% end %></p>
  </div>
</div>
