<div class="container">
  <div class="row">
    <%= render 'parks/images_presenting' %>
  </div>

  <div class="row">
    <div class="col-6 mt-5">
      <h3>Le parc vous présente</h3>
      <p><%= @park.park_description %></p>
      <h4>Price: <%= @park.price %> $ par personne et par jour</h4>

      <h3 class="mt-5">Ou vous allez dormir</h3>
      <p><%= @park.chambers_description %></p>
      <%= render 'parks/carousel_chambers' %>

      <h3 class="mt-5">Ou vous allez déguster des merveilles de gastronomie</h3>
      <p><%= @park.restaurants_description %></p>
      <%= render 'parks/carousel_restaurants' %>

    </div>
    <div  class="col-6  mt-5">
      <div id="sticky-div">
        <% if user_signed_in? %>
          <div class='review'>
            <h2 class="m-3">Réservation</h2>
            <%= render 'parks/form_rental' %>
          </div>
        <% end  %>

        <div class="d-flex m-3">
          <div class='review mt-5'>
            <h2>Reviews</h2>
            <%= render 'parks/list_reviews' %>
          </div>
        </div>
      </div>
    </div>
  </div>
   <%= link_to 'Retour à nos offres', parks_path, class: "btn btn-primary mt-5" %>
</div>
