<div class="card-park">
  <%= cl_image_tag(park.park_photos[0].key, class:"imgpark") %>
  <div class="card-park-infos">
    <div>
      <h2><%= park.name %></h2>
      <p><%= park.location %></p>
    </div>
    <h2 class="card-park-pricing"><%= park.price %>$</h2>
      <%= cl_image_tag park.user.photo.key, class:'card-park-user avatar-bordered', transformation: [ { gravity: "face", crop: "thumb", width: 150, height: 150 }] %>
  </div>
</div>
